.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.content {
  width: 57.638%;
  height: inherit;
  padding: 62.91px 0 152px 165px;
  background: url("/bg-pattern-desktop.svg") bottom left no-repeat,
    linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  display: flex;
  flex-direction: column;
  gap: 136.09px;
}

.logo {
  width: 158px;
  height: 33px;
}

.text {
  width: 445px;
  height: 404px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 64px;
  font-weight: 600;
  color: var(--dark-grayish-red);
  line-height: 71px;
  letter-spacing: 17.32px;
  text-transform: uppercase;
}

.title > span {
  font-weight: 300;
  color: var(--desaturated-red);
  line-height: 64px;
}

.description {
  margin: 15px 0 40px 1px;
  font-weight: 400;
  color: var(--desaturated-red);
  line-height: 28px;
}

.register {
  width: 445px;
  height: 56px;
  position: relative;
}

.email {
  width: 100%;
  height: 56px;
  background: transparent;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-grayish-red);
  line-height: 28px;
  padding: 15px 116px 13px 32px;
  outline: none;
  border: 1px solid var(--desaturated-red);
  border-radius: 28px;
}

.email::placeholder {
  color: var(--desaturated-red);
  opacity: 0.5;
}

.error {
  padding: 14px 131px 12px 31px;
  border: 2px solid var(--soft-red);
}

.error-image {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 17px;
  right: 116px;
}

.error-text {
  font-size: 13px;
  font-weight: 400;
  color: var(--soft-red);
  line-height: 28px;
  position: absolute;
  bottom: -32px;
  left: 32px;
}

.send {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 28px;
  box-shadow: 0 15px 20px 0 hsla(0, 44%, 60%, 0.2476);
  cursor: pointer;
}

.send:hover {
  background: hsla(0, 0%, 100%, 0.5)
    linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  background-blend-mode: overlay;
  box-shadow: 0 15px 20px 0 hsla(0, 44%, 60%, 0.48);
}

.image {
  width: 42.361%;
  height: 800px;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .content {
    width: 52.638%;
    padding: 62.91px 0 152px 100px;
  }

  .image {
    width: 47.361%;
  }
}

@media screen and (max-width: 1100px) {
  .content {
    padding: 62.91px 0 152px 65px;
  }
}

@media screen and (max-width: 1020px) {
  .container {
    width: 500px;
    flex-direction: column-reverse;
    position: relative;
  }

  .content {
    width: 100%;
    height: 100%;
    padding: 50px 0 150px 30px;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    gap: 346px;
  }

  .title,
  .description {
    text-align: center;
  }

  .image {
    content: url("/hero-mobile.jpg");
    width: 100%;
    height: 250px;
    position: absolute;
    top: 125px;
    right: 0;
  }
}

@media screen and (max-width: 500px) {
  .container {
    width: 100%;
    height: 100%;
  }

  .content {
    width: 100%;
    height: 100%;
    padding: 31px 32px 92px;
    gap: 336px;
  }

  .logo {
    width: 100px;
    height: 20.89px;
  }

  .text {
    width: 100%;
    height: auto;
    align-items: center;
  }

  .title {
    font-size: 40px;
    line-height: 42px;
    letter-spacing: 10.83px;
  }

  .description {
    margin: 16px 0 32px;
    font-size: 14px;
    line-height: 22px;
  }

  .register {
    width: 311px;
    height: 48px;
  }

  .email {
    width: 100%;
    height: 48px;
    font-size: 14px;
    padding: 11px 76px 9px 24px;
  }

  .error {
    padding: 10px 75px 8px 23px;
  }

  .error-image {
    top: 11px;
    right: 72px;
  }

  .error-text {
    bottom: -28px;
    left: 24px;
  }

  .send {
    width: 64px;
    height: 100%;
  }

  .image {
    top: 84px;
  }
}
